<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="NUnit" version="3.8.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.4.270" targetFramework="portable45-net45+win8+wpa81" />
</packages>